extends ../layout/default
block script  
    script(src='/public/script/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
    link(rel='stylesheet', href='/public/css/auth-singin.css')
    link(rel='stylesheet', href='/public/open-iconic/font/css/open-iconic-bootstrap.css')

block content
    a(href='#container') Đăng Nhập
    center#container
        #exampleModal.reveal-modal
            .container.bg-light.m-auto
                form(action="/auth/loginPOST", method="post")
                    h3 Đăng nhập
                        //- Show lỗi
                    if errors
                        each error in errors
                            .aletr.alert-danger=error
                    label(for="user") User:
                    input#user.form-control(type="text",name="user", placeholder="Tài khoản", value=values ? values.user : "").d-block
                    label(for="password") Password:
                    input#password.form-control(type="password",name="password", placeholder="Mật khẩu", value=values ? values.password : "").d-block
                    input.btn.btn-danger(type="submit", value="Đăng nhập")
                    a(href='#') Close Modal



