
extends ../layout/default

block script  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
    script(src='https://rawgit.com/edull24/ScrollWatch/v2.0.1/dist/ScrollWatch-2.0.1.min.js')
    script(type='text/javascript', src='http://js.nicedit.com/nicEdit-latest.js')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-textext/1.3.0/jquery.textext.min.js').
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/public/css/post-create.css')
    link(rel='stylesheet', href='/public/open-iconic/font/css/open-iconic-bootstrap.css')
    //- tag
    link(href='/public/tag-it-master/css/jquery.tagit.css', rel='stylesheet', type='text/css')
    link(href='/public/tag-it-master/css/tagit.ui-zendesk.css', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js', type='text/javascript', charset='utf-8')
    script(src='/public/tag-it-master/js/tag-it.js', type='text/javascript', charset='utf-8')
    script.
        $(function(){
        var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript'];
        //-------------------------------
        // Single field
        //-------------------------------
        $('#singleFieldTags').tagit({
        availableTags: sampleTags,
        // This will make Tag-it submit a single form value, as a comma-delimited field.
        singleField: true,
        singleFieldNode: $('#mySingleField')
        });
        });
    //-
block content
    .banner
        .bg-dark(style="height: 630px")
            img#previewbanner(style="height:630px; width: 100%")
    br
    .container.bg-white#mainpage
        .col-sm-10.m-auto
            form(action="/post/createPOST", method="post", enctype="multipart/form-data")
                .custom-file.mb-3
                    input#customFile.customFile.custom-file-input(type='file', name="customFile", onchange='loadFile(event)', required, oninvalid="this.setCustomValidity('Vui lòng chọn banner')", oninput="this.setCustomValidity('')")
                    label.custom-file-label(for='customFile') Chọn ảnh bìa (Kích thước chiều cao 630px)
                br
                input#title.form-control(type="text",name="title", placeholder="Tiêu đề", required, oninvalid="this.setCustomValidity('Vui lòng nhập tiêu đề')", oninput="this.setCustomValidity('')").d-block
                br
                textarea#description.form-control(name='description', type='text', placeholder='Giới thiệu ngắn ...', rows='auto', required, oninvalid="this.setCustomValidity('Vui lòng viết miêu tả')", oninput="this.setCustomValidity('')")
                br
                .bg-white.border.rounded
                    textarea#content(name="content", style="width: 100%; height: 300px", rows="auto")
                    script(type='text/javascript').
                        new nicEditor().panelInstance('content');
                br
                label(for="tags") Tag tìm kiếm
                input#mySingleField(type='hidden', name='tags', value='', required, oninvalid="this.setCustomValidity('Vui lòng chọn tag tìm kiếm')", oninput="this.setCustomValidity('')")
                ul#singleFieldTags.rounded
                br
                button.btn.btn-danger.align-center(type="submit") Đăng bài viết
                br
    br
    script.
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    script.
        var loadFile = function(event) {
        var previewbanner = document.getElementById('previewbanner');
        previewbanner.src = URL.createObjectURL(event.target.files[0]);
        previewbanner.onload = function() {
        URL.revokeObjectURL(previewbanner.src) // free memory
        }
        };


 